# Flutter/Dart
.dart_tool/
build/
.flutter-plugins
.flutter-plugins-dependencies
.packages

# iOS
ios/Pods/
ios/.symlinks/

# Android
android/.gradle/
android/local.properties
android/key.properties

# macOS
macos/


# IDE
.idea/
.vscode/
*.iml

# Misc
*.log
.metadata
*\ 2
*\ 2.*
